#### aliases
## daily housekeeping
# brew and mackup
alias bmb="brew update --verbose && brew upgrade --verbose && brew cleanup --verbose --prune=all && mackup backup --verbose && cd ~/dev/utils/mackup-backups"
alias bmr="brew update --verbose && brew upgrade --verbose && brew cleanup --verbose --prune=all && mackup restore --verbose && cd ~/dev/utils/mackup-backups"
alias b="brew update --verbose && brew upgrade --verbose && brew cleanup --verbose --prune=all"
alias mb="mackup backup --verbose && cd ~/dev/utils/mackup-backups"
alias mr="mackup restore --verbose && cd ~/dev/utils/mackup-backups"
# see npm

## git
# git develop and master
alias gdm="git push && git checkout master && git merge develop && git push && git checkout develop"
# common
alias g="git"
alias gs="git status"
alias ga="git add"
alias gad="git add ."
alias gc="git commit"
alias gcm="git commit -m"
alias gp="git push"
# other
alias gd="git diff"

## npm
alias n="npm"
alias ngo="npm -g outdated"
alias no="npm outdated"
alias nrd="npm run dev"
alias nrw="npm run watch"

## theme kit
# deploy
alias tdcom="theme deploy --env=com_prod"
alias tdcomd="theme deploy --env=com_dev"
alias tdca="theme deploy --env=ca_prod"
alias tdcad="theme deploy --env=ca_dev"
# deploy and watch
alias tdwcom="theme deploy --env=com_prod && theme watch --env=com_prod"
alias tdwcomd="theme deploy --env=com_dev && theme watch --env=com_dev"
alias tdwca="theme deploy --env=ca_prod && theme watch --env=ca_prod"
alias tdwcad="theme deploy --env=ca_dev && theme watch --env=ca_dev"
# open
alias tocom="theme open --env=com_prod"
alias tocomd="theme open --env=com_dev"
alias toca="theme open --env=ca_prod"
alias tocad="theme open --env=ca_dev"
# deploy and open
alias tdocom="theme deploy --env=com_prod && theme open --env=com_prod"
alias tdocomd="theme deploy --env=com_dev && theme open --env=com_dev"
alias tdoca="theme deploy --env=ca_prod && theme open --env=ca_prod"
alias tdocad="theme deploy --env=ca_dev && theme open --env=ca_dev"
# deploy, open, and watch
alias tdowcom="theme deploy --env=com_prod && theme open --env=com_prod && theme watch --env=com_prod"
alias tdowcomd="theme deploy --env=com_dev && theme open --env=com_dev && theme watch --env=com_dev"
alias tdowca="theme deploy --env=ca_prod && theme open --env=ca_prod && theme watch --env=ca_prod"
alias tdowcad="theme deploy --env=ca_dev && theme open --env=ca_dev && theme watch --env=ca_dev"

# vscode-insiders
alias c="code-insiders"
alias c.="code-insiders ."

## zsh
alias l="ls -laF"
