#### aliases
## daily housekeeping
# brew and mackup
alias bmb="brew update --verbose && brew upgrade --verbose && brew cleanup --verbose --prune=all && mackup backup --verbose && cd ~/dev/utils/mackup-backups"
alias bmr="brew update --verbose && brew upgrade --verbose && brew cleanup --verbose --prune=all && mackup restore --verbose && cd ~/dev/utils/mackup-backups"
alias b="brew update --verbose && brew upgrade --verbose && brew cleanup --verbose --prune=all"
alias mb="mackup backup --verbose && cd ~/dev/utils/mackup-backups"
alias mr="mackup restore --verbose && cd ~/dev/utils/mackup-backups"
# see npm

## git
# git develop and master
alias gdm="git push && git checkout master && git merge develop && git push && git checkout develop"
# common
alias g="git"
alias gs="git status"
alias ga="git add"
alias gad="git add ."
alias gc="git commit"
alias gcm="git commit -m"
alias gp="git push"
# other
alias gd="git diff"

## npm
alias n="npm"
alias ngo="npm -g outdated"
alias no="npm outdated"
alias nrd="npm run dev"
alias nrw="npm run watch"

## theme kit
# deploy and watch
alias tcom="theme deploy --env=com_prod && theme watch --env=com_prod"
alias tcomd="theme deploy --env=com_dev && theme watch --env=com_dev"
alias tca="theme deploy --env=ca_prod && theme watch --env=ca_prod"
alias tcad="theme deploy --env=ca_dev && theme watch --env=ca_dev"
# open
alias tocom="theme open --env=com_prod"
alias tocomd="theme open --env=com_dev"
alias toca="theme open --env=ca_prod"
alias tocad="theme open --env=ca_dev"
# open, deploy, and watch
alias totcom="theme open --env=com_prod && theme deploy --env=com_prod && theme watch --env=com_prod"
alias totcomd="theme open --env=com_dev && theme deploy --env=com_dev && theme watch --env=com_dev"
alias totca="theme open --env=ca_prod && theme deploy --env=ca_prod && theme watch --env=ca_prod"
alias totcad="theme open --env=ca_dev && theme deploy --env=ca_dev && theme watch --env=ca_dev"

# vscode-insiders
alias c="code-insiders"
alias c.="code-insiders ."

## zsh
alias l="ls -laF"
